.project-wrapper {
    margin-top: -80px;
    color: #390a8c;
}

.picture > img {
    width: 100px;
    height: 100px;
}

section {
    min-height: 200px;
    padding-bottom: 70px;
}

.btn-floating.btn-small .fa {
    font-size: 18px;
    margin-top: 5px;
} 

.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 27px;
    color: #fff;
}

.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 27px;
    color: #fff;
}

.btn-floating.btn-small {
    height: 37px;
    width: 37px;
    line-height: 0;
}

.btn-floating {
    position: relative;
    /*overflow: hidden;*/
    z-index: 1;
    width: 54px;
    height: 54px;
    padding: 0;
    background-color: #a6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-li {
    background-color: #0082CA;
}

.btn-git {
    background-color: #24292e;
}

.btn-maj {
    background-color: #b59a57;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}

.bgtint {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(42, 43, 57, 0.7);
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  color: #2a2b39;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #390a8c;
}

#team {
  position: relative;
  min-height: 1400px;
}

.left-card {
    left: 35%;
}

.right-card {
    left: 65%;
}

.mark {
    top: 22%;
}

.archie {
    top: 22%;
}

.parth {
    top: 50%;
}

.andrew {
    top: 50%;
}

.brett {
    top: 78%;
}

.zane {
    top: 78%;
}

.parallax {
    /* The image used */
    background-image: url("images/ou-bell-tower.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  /*color: #390a8c;*/
  padding-top: 30px;
}

#banner {
  margin-right: -15px;
  margin-left: -15px;
  /*background-color: #390a8c;*/
}

.header-text {
  text-align: center;
  padding-top: 350px;
  /*color: #390a8c;*/
  /*color: white;*/
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(51,51,51,0.3);
}

.header-text h1  {
  font-size: 9em;
}

.header-text h2 {
  font-size: 3em;
}

.header-text h3 {
  font-size: 2em;
}

.center-align {
  display: flex;
  justify-content: center;
}

.center-align img {
  min-height: 650px;
}

.center-align a img {
  min-height: auto;
}

section:nth-child(odd) {
  background-color: #f6f9fc;
  margin-right: -15px;
  margin-left: -15px;
}

.list {
  display: flex;
}

.list div {
  justify-content: center;
  margin: auto;
  margin-top: 0;
}

.list ul {
  list-style: none;
}

.list div ul li h3 {
  font-size: 30px;
}

.list div ul li {
  font-size: 24px;
}

.img-link {
  font-size: 2em;
}

.img-link a {
  color: #390a8c;
}

a:hover {
  cursor: pointer;
}

#demo .container .list ul li {
  font-size: 30px;
  padding-bottom: 10px;
}

#demo .container .list ul li a .fa {
  padding-right: 10px;
}

a.btn-purple {
  color: #fff;
}

/* BUSINESS CARDS*/
.bussinesscard {
  height: 320px;
  width: 428px;
  overflow: hidden;
  box-shadow: 0px 0px 43px -10px black;
  position: absolute;
  /*left: 50%;*/
  /*top: 50%;*/
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bussinesscard .flip {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.bussinesscard .front {
  z-index: 11;
  width: 100%;
  position: absolute;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.45);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.bussinesscard .front .top {
  height: 50%;
  background: #2a2b39;
}
.bussinesscard .front .top:after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.bussinesscard .front .top:after {
  left: 50%;
  width: 2em;
  height: 2em;
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  bottom: 10.5em;
  z-index: 10;
  background: inherit;
}
.bussinesscard .front .top .logo {
  display: inline-block;
  /*background: #6acd79;*/
  color: #fff;
  z-index: 11;
  /*padding: .16em;*/
  /*border: 8px solid #fff;*/
  position: relative;
  pointer-events: none;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  margin-top: .4em;
  font-size: 4em;
  max-width: 100px;
  max-height: 100px;
}
.bussinesscard .front .top .logo img{
    height: 110px;
}
.bussinesscard .front .top .logo .fat {
  font-weight: 800;
}
.bussinesscard .front .top .logo .skinny {
  font-weight: 100;
}
.bussinesscard .front .nametroduction {
  margin-top: 2.4em;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 8;
}
.bussinesscard .front .name {
  color: #2a2b39;
  font-weight: 400;
  font-size: 3.2em;
  text-align: center;
  position: relative;
  margin-bottom: .35em;
}
.bussinesscard .front .name:after {
  content: '';
  position: absolute;
  top: 1.3em;
  width: 20%;
  left: 40%;
  right: 40%;
  height: 1px;
  background: #2a2b39;
}
.bussinesscard .front .introduction {
  text-align: center;
  color: #2a2b39;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}
.bussinesscard .front .contact {
  color: #2a2b39;
  margin-left: 1.7em;
  font-weight: 300;
  font-size: 1.6em;
  -moz-transform: translateY(400%);
  -ms-transform: translateY(400%);
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
}
.bussinesscard .front .contact ul {
    list-style: none;
    padding-left: 0;
}
.bussinesscard .front .contact p {
  color: #2D3244;
  font-size: 1.1em;
  /*width: 1.3em;*/
  display: inline-block;
}
.bussinesscard .front .contact a {
  position: relative;
  /*bottom: .24em;*/
}
.bussinesscard .back {
  width: 100%;
  height: 100%;
  background: #fff;
  backface-visibility: hidden;
  position: absolute;
}

.tooltip {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #fff;
  font-weight: 300;
  padding: .4em;
  background: #6acd79;
}

/* HOVER ANIMATIONS */
.front .top .logo, .front .top, .front .top:after, .front .nametroduction, .front .contact, .front .top .logo img {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.flip:hover .front .top .logo {
  margin-top: .28em;
  font-size: 1.3em;
  /*border: 3px solid #fff;*/
  margin-left: .15em;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  left: 0;
}

.flip:hover .front .top .logo img {
    height: 41px;
}

.flip:hover .front .top {
  height: 15%;
}
.flip:hover .front .top:after {
  width: 1.5em;
  height: 1.5em;
  bottom: 19em;
}

.flip:hover .front .nametroduction {
  -moz-transform: translateY(400%);
  -ms-transform: translateY(400%);
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
}

.flip:hover .front .contact {
  -moz-transform: translateY(-52%);
  -ms-transform: translateY(-52%);
  -webkit-transform: translateY(-52%);
  transform: translateY(-52%);
}

/* Laptop */
@media (max-width: 1500px) {
  .left-card {
    left: 30%;
  }

  .right-card {
    left: 70%;
  }
}

@media (max-height: 900px) {
  video {
    height: 600px;
  }
}

/* Tablet */
@media (max-width: 1100px) {
  video {
    width: 900px;
  }

  .left-card {
    left: 24%
  }

  .right-card {
    left: 76%;
  }
}