.project-wrapper {
    margin-top: -80px;
}

.picture > img {
    width: 100px;
    height: 100px;
}

section {
    min-height: 200px;
    padding-bottom: 30px;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 30px;
}