<div class="container-fluid project-wrapper">
    <section id="banner" class="parallax">
        <div class="header-text">
            <h1>Hidden Sound</h1>
            <h2>Oakland University</h2>
            <h3>Senior Design Project</h3>
        </div>
    </section>
    <!--<section id="team">
            <div class="container">
            <div class="title row">The Team</div>
            <div class="row">
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="mark">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Mark Easterly</h4>
                        <p><strong>Major:</strong> Computer Science </p>
                        <p><strong>Role:</strong> Server API </p>
                    </div>
                </div>
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="archie">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Arthur Marques</h4>
                        <p><strong>Major:</strong> Computer Science </p>
                        <p><strong>Role:</strong> Mobile Development </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="parth">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Parth Patel</h4>
                        <p><strong>Major:</strong> Computer Science </p>
                        <p><strong>Role:</strong> Webfront </p>
                    </div>
                </div>
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="andrew">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Andrew Walwema</h4>
                        <p><strong>Major:</strong> Computer Science </p>
                        <p><strong>Role:</strong> Mobile Development </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="brett">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Brett Baterian</h4>
                        <p><strong>Major:</strong> Information Technology </p>
                        <p><strong>Role:</strong> Documentation </p>
                    </div>
                </div>
                <div class="profile col-md-6">
                    <div class="picture col-xs-3">
                        <img [src]="zane">
                    </div>
                    <div class="info col-xs-9">
                        <h4>Zance Schepke</h4>
                        <p><strong>Major:</strong> Information Technology </p>
                        <p><strong>Role:</strong> Mobile Development </p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section id="team">
        <div class="title row">The Team</div>
        <div class="bussinesscard left-card mark">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="mark"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Mark Easterly</div>
                        <div class="introduction">Server API</div>
                    </div>	
                    <div class="contact">
                        <ul>
                            <li><span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span> Computer Science</li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/mark-easterly-5818bab1/">/mark-easterly-5818bab1</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/easterlyme">/easterlyme</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>

        <div class="bussinesscard right-card archie">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="archie"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Arthur Marques</div>
                        <div class="introduction">Mobile</div>
                    </div>	
                    <div class="contact">						
                       <ul>
                            <li>
                                <span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                Computer Science
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/arthur-marques-32741413a/">/arthur-marques-32741413a</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/Archie4Brasil">/Archie4Brasil</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>

        <div class="bussinesscard left-card parth">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="parth"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Parth Patel</div>
                        <div class="introduction">Webfront</div>
                    </div>	
                    <div class="contact">						
                        <ul>
                            <li>
                                <span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                Computer Science
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/parth-patel-aa601b82/">/parth-patel-aa601b82</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/pbpatel2">/pbpatel2</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>
        <div class="bussinesscard right-card andrew">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="andrew"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Andrew Walwema</div>
                        <div class="introduction">Mobile</div>
                    </div>	
                    <div class="contact">						
                        <ul>
                            <li>
                                <span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                Computer Science
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/andrewwalwema/">/andrewwalwema</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/awalwema">/awalwema</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>
        <div class="bussinesscard left-card brett">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="brett"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Brett Baterian</div>
                        <div class="introduction">Documentation</div>
                    </div>	
                    <div class="contact">						
                        <ul>
                            <li>
                                <span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                Information Technology
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/brettbarterian/">/brettbarterian</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/bdbarter">/bdbarter</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>
        <div class="bussinesscard right-card zane">
            <div class="flip">
                <div class="front">				
                    <div class="top">				
                        <div class="logo"><img [src]="zane"></div>				
                    </div>
                    <div class="nametroduction">
                        <div class="name">Zane Schepke</div>
                        <div class="introduction">Mobile</div>
                    </div>	
                    <div class="contact">						
                        <ul>
                            <li>
                                <span class="btn-floating btn-small btn-maj"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                Information Technology
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></span>
                                <a href="https://www.linkedin.com/in/zane-schepke-19923b82/">/zane-schepke-19923b82</a>
                            </li>
                            <li>
                                <span class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></span>
                                <a href="https://github.com/zaneschepke">/zaneschepke</a>
                            </li>
                        </ul>
                    </div>						
                </div>
                <div class="back"></div>
            </div>
        </div>
    </section>
    <section id="tech">
        <div class="container">
            <div class="title row">
                Technology
            </div>
            <div class="list">
                <div>
                    <ul>
                        <li><h3>IDEs</h3></li>
                        <li>Visual Studio 2015</li>
                        <li>Visual Studio Code</li>
                        <li>Andriod Studio</li>
                    </ul>       
                </div>
                <div>
                    <ul>
                        <li><h3>Languages & Frameworks</h3></li>
                        <li>ASP.NET Core + C#</li>
                        <li>Angular 2 + TypeScript</li>
                        <li>Android Java</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><h3>Team Management</h3></li>
                        <li>VS Team Services</li>
                        <li>Microsoft Azure</li>
                        <li>Slack</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="sys-arch">
        <div class="container">
            <div class="row">
                <div class="title row">
                    System Architecture
                </div>
                <div class="center-align">
                    <img [src]="sysArch">
                </div>
            </div>
        </div>
    </section>
    <section id="build-release">
        <div class="container">
            <div class="title row">
                Build and Release Process
            </div>
            <div class="center-align">
                <img [src]="buildRelease">
            </div>
        </div>
    </section>
    <section id="create-tran">
        <div class="container">
            <div class="title row">
                Create Transaction
            </div>
            <div class="center-align">
                <img [src]="createTran">
            </div>
        </div>
    </section>
    <section id="demo">
        <div class="container">
            <div class="title row">
                Demo
            </div>
            <div>
                <ul>
                    <li>
                        <a href="https://github.com/hidden-sound-team/Hidden-Sound-Android/releases" target="_blank">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            Mobile App
                        </a>
                    </li>
                    <li>
                        <a href="http://vendor-hiddensound.azurewebsites.net/" target="_blank">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            Vendor Site    
                        </a>
                    </li>
                    <li>
                        <a (click)="showFirstVideo()"><i class="fa fa-play" aria-hidden="true"></i>Linking your first device</a>
                    </li>
                    <li>
                        <a (click)="showSecondVideo()"><i class="fa fa-play" aria-hidden="true"></i>Changing your device</a>
                    </li>
                </ul>
            </div>
            <!--<div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="row center-align"><h3>Mobile App</h3></div>
                    <div class="row center-align img-link" style="font-size: 2.5em;">
                        <a href="https://github.com/hidden-sound-team/Hidden-Sound-Android/releases" target="_blank"><i class="fa fa-mobile" aria-hidden="true"></i></a>
                    </div>
                </div>  
                <div class="col-md-6 col-xs-12">
                    <div class="row center-align"><h3>Vendor Site</h3></div>
                    <div class="row center-align img-link" style="padding-top: 10px;">
                        <a href="http://vendor-hiddensound.azurewebsites.net/" target="_blank"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                    </div>
                </div>                       
            </div>
            <br><br>-->
            <!--<div class="row center-align"><h1>Videos</h1></div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <video controls>
                        <source src='videos/first-run.mp4' type="video/mp4">                        
                        <source src='videos/first-run.ogg' type="video/ogg">
                        Ooops
                    </video>
                    <video controls>
                        <source src='videos/change-device.mp4' type="video/mp4">                        
                        Ooops
                    </video>
                </div>
                video 2
            </div>-->
        </div>
    </section>

    <app-modal>
        <div class="app-modal-header">
            <div *ngIf="showFirstVid"><h2>Linking Your First Device</h2></div>
            <div *ngIf="!showFirstVid"><h2>Changing Your Device</h2></div>
        </div>
        <div class="app-modal-body">
            <div *ngIf="showFirstVid">
                <video controls>
                    <source src='videos/first-run.mp4' type="video/mp4">   
                    <source src='videos/first-run.ogg' type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div *ngIf="!showFirstVid">
                <video controls>
                    <source src='videos/change-device.mp4' type="video/mp4">   
                    <source src='videos/change-device.ogg' type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="app-modal-footer"></div>
    </app-modal>
</div>