<div class="container-fluid project-wrapper">
    <section id="banner">
        BANNER
    </section>
    <section id="team" class="container">
        <div class="title">The Team</div>
        <div class="row">
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="mark">
                </div>
                <div class="info col-xs-9">
                    <h4>Mark Easterly</h4>
                    <p><strong>Major:</strong> Computer Science </p>
                    <p><strong>Role:</strong> Server API </p>
                </div>
            </div>
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="archie">
                </div>
                <div class="info col-xs-9">
                    <h4>Arthur Marques</h4>
                    <p><strong>Major:</strong> Computer Science </p>
                    <p><strong>Role:</strong> Mobile Development </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="parth">
                </div>
                <div class="info col-xs-9">
                    <h4>Parth Patel</h4>
                    <p><strong>Major:</strong> Computer Science </p>
                    <p><strong>Role:</strong> Webfront </p>
                </div>
            </div>
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="andrew">
                </div>
                <div class="info col-xs-9">
                    <h4>Andrew Walwema</h4>
                    <p><strong>Major:</strong> Computer Science </p>
                    <p><strong>Role:</strong> Mobile Development </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="brett">
                </div>
                <div class="info col-xs-9">
                    <h4>Brett Baterian</h4>
                    <p><strong>Major:</strong> Information Technology </p>
                    <p><strong>Role:</strong> Documentation </p>
                </div>
            </div>
            <div class="profile col-md-6">
                <div class="picture col-xs-3">
                    <img [src]="zane">
                </div>
                <div class="info col-xs-9">
                    <h4>Zance Schepke</h4>
                    <p><strong>Major:</strong> Information Technology </p>
                    <p><strong>Role:</strong> Mobile Development </p>
                </div>
            </div>
        </div>
    </section>
    <section id="tech">
        Technology
    </section>
    <section id="sys-arch">
        System Architecture
    </section>
    <section id="build-release">
        Build and Release Process
    </section>
    <section id="create-tran">
        Create Transaction
    </section>
    <section id="demo">
        Demo
    </section>
</div>

