<div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="close-header">
            <button type="button" class="close" aria-label="Close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        <div class="modal-header">
            <div class="modal-header-content">
                <ng-content select=".app-modal-header"></ng-content>
            </div>
        </div>
        <div class="modal-body">
          <ng-content select=".app-modal-body"></ng-content>
        </div>
        <div class="modal-footer">
          <ng-content select=".app-modal-footer"></ng-content>
          <div class="logo">
              <img height="35" [src]="logoUrl">
          </div>
        </div>
      </div>
    </div>
  </div>
