<div class="content-main">
    <div class="content-header">
        <div class="header-inner">
            <h2>My Info</h2>
        </div>
    </div>
    <div class="content-inner content-inner-end">
        <form class="form-horizontal" (ngSubmit)="saveChanges()" #myInfoForm="ngForm">
            <div *ngIf="successMessage" class="alert alert-success">
                {{successMessage}}
            </div>
            <table class="account-form-table">
                <tbody>
                    <tr>
                        <td>Email</td>
                        <td><input [(ngModel)]="email" name="email" id="email" class="form-control" disabled /></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td><input [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input [(ngModel)]="lastName" name="lastName" id="lastName" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-purple" [disabled]="!myInfoForm.form.valid">Save Changes</button></td>
                    <tr>
                </tbody>
            </table>
        </form>
    </div>
</div>