.footer {
    background: #390a8c;
}

.footer {
    background: #390a8c;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 152px;
    clear:both;
    padding-top:20px;
}

.footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    background-color: rgba(0,0,0,.2);
    text-align: center;
}

.footer .social-section ul li {
    display: inline-block;
}

.footer .social-section {
    text-align: center;
}

.btn-floating.btn-small .fa {
    font-size: 18px;
    margin-top: 5px;
} 

.btn-floating i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 37px;
    color: #fff;
}

.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 37px;
    color: #fff;
}

.btn-floating.btn-small {
    height: 47px;
    width: 47px;
    line-height: 0;
}

.btn-floating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #a6c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .3s;
    margin: 10px;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-fb {
    background-color: #3B5998;
}

.btn-tw {
    background-color: #55ACEE;
}

.btn-gplus {
    background-color: #DD4B39;
}

.btn-li {
    background-color: #0082CA;
}

.btn-git {
    background-color: #4183C4;
}

.btn-pin {
    background-color: #C61118;
}

.btn-ins {
    background-color: #3F729B;
}