html, body {
  font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin-bottom: -329px;
  padding-bottom: 329px;
}

#main {
    overflow:auto;
    padding-top: 80px;
}

.btn.round {
	border-radius: 24px;
}

.btn-purple {
    color: white;
    background-color: #390a8c;
    border-color: #390a8c;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
    color: white;
    background-color: #2f0874;
    border-color: #26075c;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus,
.btn-purple[disabled]:active, .btn-purple[disabled].active, purple[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
    color: white;
    background-color: #390a8c;
    border-color: #390a8c;
}

.form-horizontal .control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 0;
}

.form-horizontal .controls {
    margin-left: 140px;
}

.form-horizontal input {
    width: 210px;
}

.content-main {
    width: 590px;
}

.content-header {
    border: 1px solid #e6ecf0;
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    background-clip: padding-box;
}

.content-header .header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e6ecf0;
    border-radius: 4px 4px 0 0;
}

.content-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-inner {
    padding: 12px;
    background-color: #fff;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
}

.content-inner-end {
    border-bottom: 1px solid #e6ecf0;
    border-radius: 0 0 6px 6px;
}

.form-horizontal .form-actions {
    padding-left: 128px;
    margin: 20px 0 8px;
}