html, body {
  font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin-bottom: -329px;
  padding-bottom: 329px;
}

#main {
    overflow:auto;
    padding-top: 80px;
}

.btn.round {
	border-radius: 24px;
}

.btn-purple {
    color: white;
    background-color: #390a8c;
    border-color: #390a8c;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
    color: white;
    background-color: #2f0874;
    border-color: #26075c;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus,
.btn-purple[disabled]:active, .btn-purple[disabled].active, purple[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
    color: white;
    background-color: #390a8c;
    border-color: #390a8c;
}

.form-horizontal .control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: right;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 0;
}

.form-horizontal .controls {
    margin-left: 140px;
}

.form-horizontal input {
    width: 210px;
}

.content-main {
    /*width: 590px;*/
    border: 1px solid #d8d8d8;
}

.content-header {
    /*border: 1px solid #e6ecf0;*/
    border-bottom-width: 0;
    /*border-radius: 6px 6px 0 0;*/
    background-clip: padding-box;
}

.content-header .header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e6ecf0;
    /*border-radius: 4px 4px 0 0;*/
}

.content-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-inner {
    padding: 20px;
    background-color: #fff;
    /*border-left: 1px solid #e6ecf0;*/
    /*border-right: 1px solid #e6ecf0;*/
}

.content-inner-end {
    /*border-bottom: 1px solid #e6ecf0;*/
    /*border-radius: 0 0 6px 6px;*/
}

.form-horizontal .form-actions {
    padding-left: 128px;
    margin: 20px 0 8px;
}

.form-control:focus, input:focus {
    border-color: #390a8c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(57, 10, 140, 0.6);
}

.account-table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    box-shadow: 3px 3px 3px #888888;
    font-size: 16px;
}

.account-table td, .account-table th {
    padding: 20px;
    text-align: center;
    border: 1px solid #d8d8d8;
}

.account-table th {
    background: #390a8c;
    color: white;
}

.account-table td.absorb, .account-table th.absorb {
    width: 100%;
    text-align: left;
}

.account-table tr:nth-child(2n) {
    background: #f5f7f8;
}

.account-table .icons {
    white-space: nowrap;
}

.account-table .left {
    text-align: left;
}

.alert-purple {
    color: #390a8c;
    background-color: #d9c8f8;
    border-color: #917AB8;
    border-radius: 0;
}

.alert-center {
    text-align: center;
}

.alert-center span {
    line-height: 25px;
}

.account-form-table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    box-shadow: 3px 3px 3px #888888;
}

.account-form-table tr:nth-child(2n) {
    background: #f5f7f8;
}

.account-form-table td:first-child {
    text-align: right;
    font-weight: bold;
    width: 150px;
}

.account-form-table td {
    padding: 10px;
    border: 1px solid #d8d8d8;
}
