.panel-register {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel {
    margin-top: 70px;
    /*margin-bottom: 20px;*/
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}

.panel-heading {
    text-align: center;
}

div {
    min-height: 20px;
}

.warning {
    color: darkred;
}

.register-wrapper {
    min-height: 760px;
}