<div class="content-main">
    <div class="content-header">
        <div class="header-inner">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="content-inner content-inner-end">
        <form class="form-horizontal" (ngSubmit)="submit" #changePasswordForm="ngForm">
            <div class="form-actions">
                <button type="submit" class="btn btn-purple" [disabled]="!changePasswordForm.form.valid">Save Changes</button>
            </div>
        </form>
    </div>
</div>