<div class="content-main">
    <div class="content-header">
        <div class="header-inner">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="content-inner content-inner-end">
        <form class="form-horizontal" (ngSubmit)="saveChanges()" #changePasswordForm="ngForm">
            <div *ngIf="successMessage" class="alert alert-success">
                {{successMessage}}
            </div>
            <table class="account-form-table">
                <tbody>
                    <tr>
                        <td>Current Password</td>
                        <td><input type="password" [(ngModel)]="currentPassword" name="currentPassword" id="currentPassword" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>New Password</td>
                        <td><input type="password" [(ngModel)]="newPassword" name="newPassword" id="newPassword" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Confirm New Password</td>
                        <td><input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" id="confirmNewPassword" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-purple" [disabled]="!changePasswordForm.form.valid">Save Changes</button></td>
                    <tr>
                </tbody>
            </table>
        </form>
    </div>
</div>