<div class="content-main">
    <div class="content-header">
        <div class="header-inner">
            <h2>Devices</h2>
        </div>
    </div>
    <div class="content-inner content-inner-end">
        <h4 class="alert alert-purple alert-center">
            <span>
                Here you can see a list of all the mobile devices linked to your account.
            </span>
            <br>
            <span>
                Use these devices to authorize your online purchases with our mobile app.
            </span>
        </h4>
        <table class="account-table">
                <thead>
                    <th>Type</th>
                    <th class="absorb" colspan="2">Name</th>
                </thead>
                <tbody>
                    <tr *ngIf="devices?.length == 0">
                        <td class="alert alert-danger" colspan="3">You currently have no devices linked to this account.</td>
                    </tr>
                    <tr *ngFor="let device of devices">
                        <td>Android</td>
                        <td class="absorb">{{ device.name }}</td>
                        <td class="icons">
                            <button class="btn btn-small btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true" style="font-size: 1.3em;"></i>
                            </button> 
                            <button (click)="delete(device)" class="btn btn-small btn-danger">
                                <i class="fa fa-trash" aria-hidden="true" style="font-size: 1.3em;"></i>
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
