<div class="content-main">
    <div class="content-header">
        <div class="header-inner">
            <h2>Devices</h2>
        </div>
    </div>
    <div class="content-inner content-inner-end">
        <table>
                <!--<thead>
                    <th>Device Name</th>
                    <th></th>
                </thead>-->
                <tbody>
                    <tr *ngFor="let device of devices">
                        <td>{{ device.name }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="delete(device)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>