.gs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.purple {
    background: #390a8c;
    border-color: #390a8c;
}

#jumbo {
    height: 400px;
    text-align: center;
    color: #390a8c;
}

#about {
    height: 600px;
    background: #f6f9fc;
    text-align: center;
    color: #390a8c;
}

#how {
    height: 600px;
    text-align: center;
    color: #390a8c;
}