<section id="jumbo">
    <div class="col-md-6 col-md-offset-3">
        <h1>Protect against hackers.</h1>
        <h2>Hidden Sound secures your online purchases.</h2>
        <div class="gs">
            <a class="btn btn-purple btn-lg round">Get Started Now</a>
        </div>
    </div>
</section>
<section id="about">
    <div class="col-md-6 col-md-offset-3">
        <h1>About</h1>
        <p>
            Hidden Sound is a 2 Factor Authentication service. 
            What is 2FA. Why it's needed.
            Benefits. Verify your identity.

        </p>
    </div>
</section>
<section id="how">
    <div class="col-md-6 col-md-offset-3">
        <h1>How it works</h1>
        <p>
            Checkout at the vendor with Hidden Sound.
            Scan QR code.
            Continue with purchase.
        </p>
    </div>
</section>
<section>
    <div id="mobile">
        <h1>Get the Mobile App</h1>
        <p>
            Scan QRs with our mobile app.
            
        </p>
    </div>
</section>