<section id="jumbo">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hidden Sound</h1>
        <h2>Shop with security.</h2>
        <div class="gs">
            <a class="btn btn-purple btn-lg round" [routerLink]="['/login']">Get Started Now</a>
        </div>
    </div>
</section>
<section id="about">
    <!--<div class="col-md-6 col-md-offset-3">
        <h1>About</h1>
        <p>
            Hidden Sound is a 2 Factor Authentication service. 
            What is 2FA. Why it's needed.
            Benefits. Verify your identity.

        </p>
    </div>-->
    <div class="container-fluid">
        <div class="row heading">
            <div>About</div>
        </div>
        <div class="row content">
            <div>
                <img [src]="about1">
            </div>             
            <div class="text">
                <h2>Simplicity and Security</h2>
                <p>Hidden Sound partners with online vendors like Amazon and Newegg to provide you with a safe and secure online shopping experience.</p>
            </div>            
        </div>
        <div class="row content">            
            <div class="text">
                <h2>Peace of Mind</h2>
                <p>With Hidden Sound, you verify your identity every time you make a purchase. This guarantees that nobody else can make purchases in your name.</p>
            </div>
            <div>
                <img [src]="about2">
            </div>            
        </div>
    </div>
</section>
<section id="how">
    <!--<div class="col-md-6 col-md-offset-3">
        <h1>How it works</h1>
        <p>
            Checkout at the vendor with Hidden Sound.
            Scan QR code.
            Continue with purchase.
        </p>
    </div>-->
    <div class="container-fluid">
        <div class="row heading">
            <div>How it Works</div>
        </div>
        <div class="row content">
            <div id="how-image">
                <img [src]="howItWorks">
            </div>
        </div>
        <div class="row content" id="step-list">
            <div class="step">
                <div class="number">1</div>
                <h2>Checkout</h2>
                <p>
                    When you're done shopping at your favorite vendor, click "Checkout with Hidden Sound."
                </p>
            </div>
            <div class="step">
                <div class="number">2</div>
                <h2>Scan</h2>
                <p>
                    Log into your Hidden Sound account and scan the QR code with our responsive mobile app.
                </p>
            </div>
            <div class="step">
                <div class="number">3</div>
                <h2>Enjoy!</h2>
                <p>
                    That's it! You've verified your identity and can now finish your purchase.
                </p>
            </div>
        </div>
    </div>
</section>
<!--<section>
    <div id="mobile">
        <h1>Get the Mobile App</h1>
        <p>
            Scan QRs with our mobile app.
            
        </p>
    </div>
</section>-->