.row {

}

.main {
    text-align: center;
    color: #390a8c;
}

.gs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.purple {
    background: #390a8c;
    border-color: #390a8c;
}

#first {
    height: 1200px;
}

#second {
    height: 1200px;
}