.gs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.purple {
    background: #390a8c;
    border-color: #390a8c;
}

#jumbo {
    min-height: 965px;
    margin-top: -90px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #390a8c;
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 1px 1px 1px rgba(51,51,51,0.3);
    background-image: url('https://os.alipayobjects.com/rmsportal/XBEMpMvEUUePLte.png');
    background-size: cover;
}

#about {
    min-height: 600px;
    background: #f6f9fc;
    text-align: center;
    color: #390a8c;
}

#how {
    min-height: 600px;
    text-align: center;
    color: #390a8c;
    padding-left: 30px;
    padding-right: 30px;
}
/*
#mobile {
    height: 600px;
    text-align: center;
    color: #390a8c;
}*/

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content > div {
    width: 30%;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading {
    font-size: 3em;
    font-weight: 500;
    margin: 30px;
}

#how-image {
    width: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.content > .step {
    width: 20%;
    text-align: left;
    padding: 40px;
}

.content > .text {
    text-align: left;
    padding-top: 0px;
    margin-top: -35px;
}

#step-list {
    align-items: initial;
    padding-bottom: 30px;
}

.number {
    background-color: #390a8c;
    border-radius: 100%;
    color: white;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.step > h2 {
    text-align: center; 
}

#about > .container-fluid > .content > div > img {
    width: 55%;
}
