<div>
    <h1>
        Would you like to authorize this vendor?
    </h1>
</div>
<br>
<div id="buttons">
    <button class="btn btn-lg btn-info" name="btn-authorize">Authorize</button>
    <button class="btn btn-lg btn-danger" name="btn-decline">Decline</button>
</div>

<style>
    h1 {
        margin: auto;
        width: 60%;
    }

    #buttons {
        margin: auto;
        width: 60%;
        align-items: center;
        display: flex;
    }

    #buttons > button {
        margin: auto;
    }
</style>