table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #d9c8f8;
}

.btn-add {
    float: right;
    margin-right: 70px;
}

@media (max-width: 1200px) {
    .btn-add {
        margin-right: 30px;
    }
}
