.nav-menu li a {
    line-height: 50px;
}

.navbar-nav>li>a:hover {
    color: #390a8c;
    background-color: rgba(221,221,221,0.5);
}

.navbar-btn {
    line-height: 64px;
    padding-left: 15px;
    border-radius: 24px;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
}

.btn.purple {
    background: #390a8c;
    border-color: #390a8c;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    height: 80px;
}