<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="logo navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img height="50" [src]="logoImageUrl">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!loggedIn$" [routerLinkActive]="['link-active']">
                    <p class="navbar-btn">
                        <a class="btn btn-primary round" [routerLink]="['/login']">Login</a>
                    </p>
                </li>
                <li *ngIf="!loggedIn$" [routerLinkActive]="['link-active']">
                    <p class="navbar-btn">
                        <a class="btn btn-primary round purple" [routerLink]="['/register']">Sign Up</a>
                    </p>
                </li>
                <li *ngIf="loggedIn$" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/account']">{{ user$.username }}</a>
                </li>
                <li *ngIf="loggedIn$" (click)="logout()">
                    <a [routerLink]="['/logout']">Logout</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-menu">
                <li [routerLinkActive]="['link-active']">
                    <a>How It Works</a>
                </li>
            </ul>
        </div>
    </div>
</header>


